# Maximum difference in size between the two images
SIZE_DELTA=5

# The api won't accept img taller than this var
IMG_DIM_MAX=10000

# The api won't accept img smaller than this var
IMG_DIM_MIN=10

# Secret for jwt decryption
SIGN_KEY="my_super_secret_password_i_wont_forget_to_change"

# 10 = debug | 20 = info | 30 = warn | 40 = error | 50 = critical
DEBUG_LEVEL = 10
